<h1>Votre appartement</h1>
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    const coord = <%= raw @user_place.coordinates.to_json %>
    alert('<%= @alert_message %>');
  <% end %>
<% end %>

<% @user_place.availabilities.each do |availability| %>
<%= availability.start %>
<%= availability.end %>
<% end %>

<%= month_calendar do |date| %>
  <%= date %>
<% end %>
