<div class="form-group reservation">
  <%= simple_form_for @reservation, :url => resaconfirm_path, :method => :post do |f| %>
<div class="">
  <h2>Faire une demande à <%= @babysitter.first_name %> <%= @babysitter.last_name %></h2>
<div>
<div class="form-group">
  <%= simple_form_for @reservation, :url => reservations_path, :method => :post do |f| %>
      <p> <%= @garde %> </p>
    </div>
    <div class="numberofkids">
      <%= f.input :number_of_kids, type: "number", label: "Nombre d'enfants à garder" %>
    </div><br/>

      
        <%= f.label "a partir de :" %>
        <div class='input-group date' id='datetimepicker1'>
          <%= f.text_field :start, class: "form-control" %>
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      <br/>
      
          <%= f.label "jusqu'a :" %>
        <div class='input-group date' id='datetimepicker2'>
          <%= f.text_field :end, class: "form-control" %>
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <%= f.hidden_field :parent  %>
        <%= f.hidden_field :babysitter %>
        <%= f.hidden_field :address %>
        <%= f.hidden_field :domicile %>
        <%= f.hidden_field :confirm %>
      

    <div class="form-group">
  <%= f.button :submit, "Demande de réservation", class: "btn btn-primary resa" %>
    </div>
  </div>

  <% end %>
</div>

<% content_for(:after_js) do %>

<% end %>
<% end %>
