<div class="container">

      <div class="tabs">
        <a  href="/reservations" class=" <%= @class[0] %>">Vos airbabyreservations</a>
        <a href="/reservations/babysitting" class="<%= @class[1] %>">Vos airbabysittings</a>
      </div>

  <ul class="inbox">
    <% @reservations.each do |reservation| %>
    <div class="message">
      <img class="avatar-large" src="https://graph.facebook.com/v2.6/10154479522909159/picture?type=square">
      <div class="message-name">
        <h3><%= reservation.babysitter.first_name %> <%= reservation.babysitter.last_name %></h3>
     </div>
      <div class="message-body">
        <p><strong>
          De <%= reservation.start.strftime("%A %d %B %Y, %H:%M") if reservation.start%><br/>
          à <%= reservation.end.strftime("%A %d %B %Y, %H:%M") if reservation.end%>
          </strong></p>
        <p>Adresse : <%= reservation.address %></p>
      </div>

      <div class="message-status">
        <p class="status pending">En attente</p>
        <p class="price">€15</p>
      </div>
    </div>
    <% end %>

  </ul>
</div>
    <%= render 'shared/footer' %>

