<div id="login-box">
  <div class="left">

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email, required: false, autofocus: true %>
        <%= f.input :password, required: false %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Connexion", class: "btn btn-primary" %>
      </div>
      <%= link_to 'Facebook', omniauth_authorize_path('user', 'facebook'), class: "btn btn-default btnfacebook"  %>      
      <%= link_to 'Google', omniauth_authorize_path('user', 'google_oauth2'), class: "btn btn-default btngoogle"  %>
      
<!--       <button class="social-signin facebook">Connexion Facebook</button>
      <button class="social-signin google">Connexion Google+</button> -->
    <% end %>

    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <%= link_to "Pas de compte ? Inscrivez-vous", new_registration_path(resource_name) %><br />
    <% end -%>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Mot de passe oublié?", new_password_path(resource_name) %><br />
    <% end -%>

  </div>
  <div class="right">
    
  </div>
</div>



