<p>Ma recherche: je cherche une <%= @garde %> pour <%= session['number_of_kids'] %> enfant(s) de <%= session['start'] %> à <%= session['end'] %> autour de l'adresse : <%= session['address'] %><p>

  <div class="myflex">
    <div class="mygrow">
        <% @users.each do |user| %>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card">
            <div class="card-category">Adresse: <%= user.address %></div>
            <div class="card-description">
              <h2><%= user.first_name %> <%= user.last_name %></h2>
              <p><%= user.description %></p>
            </div>
            <div class="card-user"> <%= avatar_img_babysitter("img-circle", user) %></div>
            <a class="card-link" href="<%= "/resaconfirm?baby=#{user.id}" %>" ></a>
          </div>
        </div>
      </div>
        <% end %>
    </div>
  <div id="map"></div>
    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @markers.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
          if (markers.length == 0) {
            handler.getMap().setZoom(2);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      <% end %>
    <% end %>
  </div>

