<div class="container">
  <div class="row">
    <div class="myflex">
      <div>
        <div class="center fondcard">
          <div id="avatarshow" class="img-thumbnail">
            <%= avatar_img("") %>
          </div>
            <br/>
          <%= link_to "Edit Profile", profile_edit_path, class: "btn btn-primary" %>
        </div>
        <div class="fondcard">
          <h4>Verifications :</h4>
          <p>Pièce Identité <i class="fa fa-check-circle green" aria-hidden="true"></i></p>
        </div>
      </div>
      <div class="mygrow">
        <div>
          <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
          <p>Nombre d'enfants : <%= current_user.number_of_kids %></p>
        </div>

        <div>
          <h3>description :</h3>
          <p style="text-indent: 30px;"><%= current_user.description %> </p>
        </div>
      </div>
      <div class="flatlist center">
        <p>Mon adresse :
          <%= current_user.address %></p>
        Mes adresses :
         <% current_user.user_places.each do |user_place| %>
          <% @user_place = user_place %>
          <%= render 'shared/flat' %>
        <% end %>
      </div>
    </div>
  </div>

</div>


